<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HumanCareEntities" connectionString="metadata=res://*/HumanCare.csdl|res://*/HumanCare.ssdl|res://*/HumanCare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILAN-PC\SQLEXPRESS;initial catalog=humanCare;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="humanCareEntities" connectionString="metadata=res://*/HumanCare.csdl|res://*/HumanCare.ssdl|res://*/HumanCare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILAN-PC\SQLEXPRESS;initial catalog=humanCare;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>